# Book settings
title: Continuous Time Markov Chains
author: Thomas J. Sargent & John Stachurski
logo: _static/qe-logo-large.png
description: These lectures provides a short introduction to continuous time Markov chains designed and written by Thomas J. Sargent and John Stachurski.

sphinx:
  config:
    html_theme: quantecon_book_theme
    html_theme_options:
      header_organisation_url: https://quantecon.org
      header_organisation: QuantEcon
      repository_url: https://github.com/jstac/continuous_time_mcs
      # nb_repository_url: https://github.com/QuantEcon/lecture-python.notebooks
      twitter: quantecon
      twitter_logo_url: https://assets.quantecon.org/img/qe-twitter-logo.png
      og_logo_url: https://assets.quantecon.org/img/qe-og-logo.png
      description: These lectures provides a short introduction to continuous time Markov chains designed and written by Thomas J. Sargent and John Stachurski.
      keywords: Python, QuantEcon, Quantitative Economics, Economics, John Stachurski, Schmidt Futures, Markov Chains
      analytics:
        google_analytics_id: G-MVZ2FSB14W
    bibtex_reference_style: author_year
    mathjax3_config:
      tex:
        macros:
          "Exp" : "\\operatorname{Exp}"
          "Binomial" : "\\operatorname{Binomial}"
          "Poisson" : "\\operatorname{Poisson}"
          "BB" : "\\mathbb{B}"
          "EE" : "\\mathbb{E}"
          "PP" : "\\mathbb{P}"
          "RR" : "\\mathbb{R}"
          "NN" : "\\mathbb{N}"
          "ZZ" : "\\mathbb{Z}"
          "dD" : "\\mathcal{D}"
          "fF" : "\\mathcal{F}"
          "lL" : "\\mathcal{L}"
          "linop" : "\\mathcal{L}(\\mathbb{B})"
          "linopell" : "\\mathcal{L}(\\ell_1)"
    # sphinx-tojupyter
    tojupyter_static_file_path: ["_static"]
    tojupyter_target_html: true
    tojupyter_urlpath: "https://continuous-time-mcs.quantecon.org/"
    tojupyter_image_urlpath: "https://continuous-time-mcs.quantecon.org/_static/"
    tojupyter_lang_synonyms: ["ipython", "ipython3", "python"]
    tojupyter_kernels:
      python3:
        kernelspec:
          display_name: "Python"
          language: python3
          name: python3
        file_extension: ".py"
    tojupyter_images_markdown: true

  extra_extensions:
    - sphinx_proof
    - sphinx_exercise
    - sphinx_tojupyter

execute:
  execute_notebooks: cache

latex:
  latex_engine: "xelatex"
  latex_documents:
    targetname: book.tex

bibtex_bibfiles:
  - references.bib
